<div class="container mt-sm-3">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8 card">
            <div class="card-body">
                <h2 class="card-title text-dark">Programming Bestsellers Directory</h2>

                <div class="form-row mb-2">
                    <div class="col">
                        <label class="col-form-label text-right" for="searchQuery">search <span ng-if="query">{{'for: ' + query}}</span></label>
                    </div><!-- label -->

                    <div class="col-12">
                        <input ng-model="query" class="form-control form-control-lg" id="searchQuery" placeholder="Search for bestsellers" autofocus>
                    </div><!-- col-12 -->
                </div><!-- form-row -->

                <div class="form-row">
                    <div class="col">
                        <select class="form-control form-control-inline mr-3 w-100" ng-model="bookOrder">
                            <option value="title">Book Title</option>
                            <option value="author">Author Name</option>
                        </select>
                    </div><!-- col -->
                    <div class="col-5 col-md-4">
                        <div class="form-check form-check-inline">
                            <label class="form-check-label"><input class="form-check-input" type="radio" name="direction" checked ng-model="direction"> asc</label>
                        </div><!-- form-check -->
                        <div class="form-check form-check-inline">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="direction" value="reverse" ng-model="direction"> desc</label>
                        </div><!-- form-check -->
                    </div><!-- col-5 -->
                </div><!-- form-row -->

            </div><!-- card-body -->
        </div><!-- col-12 -->
    </div><!-- row -->
</div><!-- col-container -->

<div class="bseller-list container">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-12 col-md-10 col-lg-8">
            <ul class=" list-group d-flex" ng-if="query">
                <li class="list-group-item" ng-repeat="item in bsellers | filter: query | orderBy:bookOrder:direction">

                    <a href="#!/details/{{bsellers.indexOf(item)}}">
                       <div class="media d-flex align-items-center">
                            <img class="mr-3"
                                 ng-src="_images/{{item.titleshort}}.jpg"
                                 alt="Cover of {{item.title}}">
                            <div class="media-body">
                                <h5 class="my-0 text-dark">{{item.title}}</h5>
                                <div class="text-secondary font-italic">{{item.author}}</div>
                            </div><!-- media-body -->
                        </div><!-- media -->
                    </a>

                </li>
            </ul>
        </div><!-- col-12 -->
    </div><!-- row -->
</div><!-- col-container -->