/*basic styles*/

html,
body {
    margin: 0;
    margin-top: 2em;
}
html {
    background: #636d7d;
}
body {
    font: 100% Lato, Helvetica, sans-serif;
    background: white;
    margin: 2em auto;
    width: 80%;
    padding: 1em;
}
article,
aside,
section,
nav,
figure,
header,
footer {
    display: block;
}
h1,
h2,
h3 {
    font-size: 2.4em;
    font-weight: normal;
    font-family: LatoLight, Helvetica, sans-serif;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
    color: #575451;
    margin: 0;
    line-height: 1;
}
h1 {
    font-size: 1.6em;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    background: rgba(240, 240, 240, .8);
    line-height: 2;
}
h2 {
    font-size: 2em;
    margin-top: 2em;
}
h3 {
    font-size: 1.8em;
    text-transform: uppercase;
}
a {
    color: #77A0B8;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

/*cover*/

body {
    background: rgb(245, 245, 240);
    width: 80%;
    margin: 2em auto 0;
}
section {
    overflow: hidden;
    width: 900px;
    margin: 0 auto;
}
p {
    margin: 0;
}
.cover {
    background: black;
    color: white;
    width: 40%;
    margin: 0 auto;
    padding: 1% 7% 1% 10%;
}
.stack {
    font-family: bebas-neue, sans-serif;
    font-size: 18em;
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 0.7em;
}
.got {
    font-family: bebas-neue, sans-serif;
    font-size: 4em;
    line-height: .01em;
    letter-spacing: 0.2em;
    margin: .3em 0 1.1em -1em;
    -webkit-transform: rotate(-12deg);
    -moz-transform: rotate(-12deg);
    transform: rotate(-12deg);
}
.savvy {
    font-family: bebas-neue, sans-serif;
    font-size: 4em;
    line-height: .01em;
    letter-spacing: 0.2em;
    margin: .8em 0 1.1em 3em;
    -webkit-transform: rotate(-12deg);
    -moz-transform: rotate(-12deg);
    transform: rotate(-12deg);
}
span {
    position: relative;
}
.char1 {
    z-index: 4;
    margin-left: -0.05em;
    text-shadow: 0.05em 0.05em 0.2em rgba(8, 8, 8, 0.8);
}
.char2 {
    z-index: 3;
    margin-left: -0.09em;
    top: 0.05em;
    text-shadow: 0.05em 0.05em 0.2em rgba(8, 8, 8, 0.8);
}
.char3 {
    z-index: 2;
    margin-left: -0.05em;
    text-shadow: 0.05em 0.05em 0.2em rgba(8, 8, 8, 0.8);
}
.char4 {
    z-index: 5;
    margin-left: -0.05em;
    top: -0.01em;
    text-shadow: -0.02em 0.05em 0.2em rgba(8, 8, 8, 0.8);
}
.char5 {
    z-index: 2;
    margin-left: -0.1em;
    top: 0.02em;
    text-shadow: 0.05em 0.05em 0.2em rgba(8, 8, 8, 0.8);
}
.char6 {
    z-index: 1;
    margin-left: -0.06em;
    top: -0.02em;
    text-shadow: -0.01em -0.01em 0.9em rgba(8, 8, 8, 0.8);
}
.char7 {
    color: rgba(00, 99, 00, 0.8);
    z-index: 8;
    margin-left: -0.07em;
    text-shadow: 0.05em -0.05em 0.5em rgba(00, 99, 00, 0.8);
}
.char8 {
    z-index: 6;
    margin-left: -0.13em;
    top: -0.02em;
    text-shadow: 0.05em -0.05em 0.2em rgba(8, 8, 8, 0.8);
}