/*basic styles*/

html,
body {
    margin: 0;
    margin-top: 2em;
}
html {
    background: #636d7d;
}
body {
    font: 100% Lato, Helvetica, sans-serif;
    background: white;
    margin: 2em auto;
    width: 80%;
    padding: 1em;
}
article,
aside,
section,
nav,
figure,
header,
footer {
    display: block;
}
h1,
h3 {
    font-size: 2.4em;
    font-weight: normal;
    font-family: LatoLight, Helvetica, sans-serif;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
    color: #575451;
    margin: 0;
    line-height: 1;
}
h1 {
    font-size: 1.6em;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    background: rgba(240, 240, 240, .8);
    line-height: 2;
}
body {
    background: none;
    margin-top: 0;
}
#wrapper {
    margin: 0 auto;
    background-color: white;
    padding: 10px 0;
    text-align: center; 
    min-height: 500px;
}

button {
    margin: 10px;
    padding: 5px;
}

div.painting {
    float: left;
    margin-left: 90px;
    min-height: 330px;
}
div.painting p {
    text-align: center;
}
div.lastOne {
    margin-right: 0;	
}

#container {
    margin: 20px auto;
    
}
.loader {
    display: none;
}

#clear {
    clear: both;
}

