/*basic styles*/

html,
body {
    margin: 0;
}
html {
    background: #636d7d;
}
body {
    font: 100% Lato, Helvetica, sans-serif;
    background: white;
    width: 80%;
}
#infohead {
    margin: 0 auto;
    width: 100%;
    height: 70px;
    position: absolute;
    background-color: #D4D6D9;
}
#infohead h1 {
    font-family: LatoLight, Helvetica, sans-serif;
    font-weight: normal;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
    color: #575451;
    margin: 0 auto;
    font-size: 20px;
    padding: 8px;
    text-align: center;
    width: 70%;
    background: #D4D6D9;
    line-height: 27px;
}
h3 {
    font-size: 1.1rem;
    font-weight: normal;
    padding: 0px 30px;
}
#wrapper {
    margin: 80px auto 0px;
    position: absolute;
    background-color: white;
    padding: 10px 0;
    text-align: center;
    min-height: 450px;
    width: 80%;
    margin-left: 10%;
}
#infoLink1 {
    text-decoration: none;
}
#infoIcon1 {
    background-color: #455CD5;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #0224C4;
    /*        transform: scale3d(1.05, 1.05, 1.05);*/
    display: inline-block;
    box-sizing: border-box;
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.5);
}
#infoIcon1 > span {
    font-family: "Georgia", "Times New Roman", serif;
    font-size: 32px;
    font-weight: bold;
    font-style: italic;
    color: #fff;
    line-height: 38px;
    text-align: center;
    text-shadow: 1px 1px 4px rgba(2, 36, 196, 1), -1px -1px 4px rgba(2, 36, 196, 1);
}
#infoLink {
    text-decoration: none;
    text-align: center;
}
#infoIcon {
    position: absolute;
    /*    margin: 0 auto;*/
    background-color: #455CD5;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #0224C4;
    /*    transform: scale3d(1.5, 1.5, 0);*/
    display: inline-block;
    box-sizing: border-box;
    box-shadow: 1px 1px 8px 2px rgba(0, 0, 0, 0.5);
    margin-top: 15px;
    margin-left: 5%;
}
.rollInFromLeft {
    animation-duration: 1.5s;
    animation-fill-mode: both;
    animation-name: rollIn;
    animation-delay: .5s;
}
@keyframes rollIn {
    from {
        opacity: 0;
        transform: translate3d(-200%, 0, 0) rotate3d(0, 0, 1, -220deg);
    }
    to {
        opacity: 1;
        transform: none;
    }
}
.ding {
    position: relative;
    z-index: 9;
    border-radius: 50%;
    animation: pulse 10s ease-in-out infinite;
    animation-delay: 1s;
}
@keyframes pulse {
    0%,
    5% {
        box-shadow: 0px 0px 0px 0px rgba(2, 36, 196, 0.5);
    }
    15% {
        box-shadow: 0px 0px 0px 50px rgba(2, 36, 196, 0);
    }
    16%,
    100% {
        box-shadow: 0px 0px 0px 0px rgba(2, 36, 196, 0);
    }
}
#infoIcon:hover {
    width: 38px;
    height: 38px;
    margin-top: 16px;
    box-shadow: none;
    animation: radiate .8s ease-in-out;
}
@keyframes radiate {
    0% {
        box-shadow: 0px 0px 0px 0px rgba(2, 36, 196, 0.5);
    }
    100% {
        box-shadow: 0px 0px 0px 50px rgba(2, 36, 196, 0);
    }
}
#infoIcon > div > span {
    font-family: "Georgia", "Times New Roman", serif;
    font-size: 32px;
    font-weight: bold;
    font-style: italic;
    color: #fff;
    line-height: 38px;
    text-align: center;
    text-shadow: 1px 1px 4px rgba(2, 36, 196, 1), -1px -1px 4px rgba(2, 36, 196, 1);
}

/* GitHub corner Octocat by Tim Holman: 
https://github.com/tholman/github-corners */

.github-corner > span {
    /*
    fill: #151513;
    color: #fff;
*/
    position: absolute;
    font-family: Lato, Helvetica, sans-serif;
    font-size: 16px;
    color: #575451;
    top: 24px;
    /*    border: 0;*/
    right: 26px;
    transform: rotate(45deg);
}
.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out
}
@keyframes octocat-wave {
    0%,
    100% {
        transform: rotate(0)
    }
    20%,
    60% {
        transform: rotate(-25deg)
    }
    40%,
    80% {
        transform: rotate(10deg)
    }
}
@media (max-width:500px) {
    .github-corner:hover .octo-arm {
        animation: none
    }
    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out
    }
}

/* GitHub Octocat END */


/* Info Modal */


/* The Modal (background) */

.modal {
    display: none;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.8);
}

/* Modal Content/Box */

.modal-content {
    background-color: #fefefe;
    margin: 40px;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    min-width: 520px;
    max-width: 726px;
}

/* The Close Button */

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Info Modal END */


/* Form elements */

#wrapper input {
    width: 300px;
    padding: 5px;
    margin-right: 10px;
    font-size: 24px;
}
#wrapper input[type="range"] {
    width: 265px;
}
#wrapper input[type="submit"] {
    height: 56px;
    padding: 10px;
    border: 1px solid #333;
    background-color: #ccc;
    font-size: 24px;
    cursor: pointer;
    outline: none;
    width: auto;
    background: none;
    margin-top: 15px;
}
form {
    /*    margin-top: 2em;*/
    /*    text-align: right;*/
    margin: 0 auto;
    /*    margin-right: 80px;*/
}
label {
    display: block;
}
input,
input[type="text"],
input[type="email"],
input[type="search"],
textarea,
select {
    border: none;
    background-color: rgb(249, 228, 130);
    padding: .5em;
    font-size: 1em;
}
input:focus,
textarea:focus {
    border: 2px solid rgb(168, 88, 163);
}
input[type="submit"] {
    border: none;
    cursor: pointer;
    width: 35px;
    height: 35px;
    padding: 0;
    margin-top: -10px;
    vertical-align: bottom;
}

/* Form elements END */

#container {
    margin: 20px auto;
}
button {
    margin: 10px;
    padding: 5px;
}
div.painting {
    float: left;
    margin-left: 90px;
    min-height: 370px;
}
div.painting p {
    text-align: center;
}
div.lastOne {
    margin-right: 0;
}

/* 3D Fly-out */

.te-perspective {
    perspective: 1000;
}
@keyframes flyOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: scale3d(5, 5, 5);
    }
}
.te-front {
    animation: flyOut .4s ease-in-out;
    backface-visibility: hidden;
    /* to get rid of potential re-draw errors in older browsers */
}
.te-back {
    transform-style: preserve-3d;
    /* to get rid of potential re-draw errors in older browsers */
    z-index: 10;
}
.te-container {
    width: 350px;
    margin: 0 auto;
    position: relative;
    padding: 20px;
    text-align: center;
}
.te-controls {
    height: 40px;
    position: relative;
    top: 280px;
}
.te-container select,
a.te-next {
    display: inline-block;
    border: 1px solid #999;
    border-radius: 5px;
    padding: 5px;
    font-size: 18px;
    color: #444;
    line-height: 22px;
    background: white;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 1px 1px 1px rgba(11, 11, 11, 0.5);
}
.te-container select:hover,
a.te-next:hover {
    color: #000;
}
.te-container select:active {
    background: #E5E5E5;
}
a.te-next {
    margin: 5px auto;
    padding: 5px 10px;
    font-weight: bold;
}
a.te-next:active {
    background: #E5E5E5;
}
.te-container select:focus {
    outline: none;
}
.te-wrapper {
    position: relative;
    width: 350px;
    height: 370px;
    margin: 0 auto;
}
.te-cover,
.te-transition {
    position: absolute;
    width: 350px;
    height: 425px;
    top: 0px;
    left: 0px;
}
.te-cover.te-hide,
.te-transition,
.te-images {
    display: none;
}
.te-transition.te-show {
    display: block;
}
.te-back,
.te-front {
    position: absolute;
    width: 100%;
    height: 100%;
}
.te-front {
    z-index: 20;
}

/* 3D Fly-out END */


/* 3D card flip */

#theArt {}
.artGroup {
    display: block;
    width: 250px;
    height: 375px;
    position: relative;
    padding: 0 9px 30px;
    float: left;
}
.artwork {
    display: block;
    width: 100%;
    height: 100%;
}
.artGroup img {
    width: 250px;
    height: 100%;
    position: absolute;
    display: block;
}
.artGroup .detail {
    display: block;
    width: 90%;
    height: 325px;
    position: absolute;
    background: lightgrey;
    padding: 20px 10px 30px;
}

/* The Flip */

.artGroup.flip {
    perspective: 800px;
}
.artGroup.flip .artwork {
    transition: transform 1s;
    transform-style: preserve-3d;
}
.artGroup.flip .detail,
.artGroup.flip .theFlip {
    transform: rotateY(-180deg);
}
.artGroup.flip img,
.artGroup.flip .detail {
    backface-visibility: hidden;
}

/* 3D card flip END */


/* 3D image slide carousel */

#gallery {
    margin-top: 60px;
    background-color: #fff;
}
#options {
    position: relative;
}
#navigation {
    position: absolute;
    top: 70px;
    left: 30px;
}
#toggle {
    position: absolute;
    top: 70px;
    right: 30px;
}
.container {
    width: 330px;
    height: 300px;
    position: relative;
    margin: 0 auto;
    perspective: 600px;
}
#carousel {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
}
#carousel figure {
    display: block;
    position: absolute;
    width: 250px;
    height: 140px;
    line-height: 116px;
    font-size: 80px;
    font-weight: bold;
    color: white;
    text-align: center;
}
.ready #carousel,
.ready #carousel figure {
    transition: transform 1s;
}
#carousel figure img {
    box-shadow: 0 0 0 #000;
    transition: all 1s;
}
#carousel figure.showFig img:hover {
    box-shadow: 3px 3px 5px #000;
    transform: scale3d(2, 2, 2);
}
.no-csstransforms3d #carousel figure,
.no-csstransforms3d #toggle {
    display: none;
}
.no-csstransforms3d #carousel figure.showFig {
    display: block;
}

/* 3D image slide carousel END */


/* infinity eye */

#wrapper > section > p {
    position: absolute;
    left: 30px;
    top: 80px;
}
/*
#wrapper > section:first-of-type > div {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 30px;
    top: 130px;
    border-radius: 50%;
    background-color: lightgrey;
    background-image: radial-gradient(circle at center, lightgrey 0%, rgba(0, 0, 0, 0.4) 100%);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.9);
}
*/
#top {
    position: absolute;
    width: 20px;
    height: 30px;
    background-color: blueviolet;
    left: 40px;
    top: 10px;
    cursor: pointer;
}
#top::before {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid red;
    top: -10px;
    left: 0px;
}
#bottom {
    position: absolute;
    width: 20px;
    height: 30px;
    background-color: blueviolet;
    left: 40px;
    top: 60px;
    cursor: pointer;
}
#bottom::before {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid red;
    top: 30px;
    left: 0px;
}
#left {
    position: absolute;
    width: 30px;
    height: 20px;
    background-color: blueviolet;
    left: 10px;
    top: 40px;
    cursor: pointer;
}
#left::before {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid red;
    top: 0px;
    left: -10px;
}
#right {
    position: absolute;
    width: 30px;
    height: 20px;
    background-color: blueviolet;
    left: 60px;
    top: 40px;
    cursor: pointer;
}
#right::before {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid red;
    top: 0px;
    left: 30px;
}
#hub {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: cornflowerblue;
    background-image: radial-gradient(circle at center, cornflowerblue 20%, rgba(0, 0, 0, 0.4) 100%);
    border-radius: 50%;
    top: 35px;
    left: 35px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.8);
}
#stage {
    width: 100px;
    height: 100px;
    margin: 0px;
    display: inline-block;
    perspective: 600px;
    perspective-origin: center;
    /*            transform: scale3d(3, 3, 3);*/
    transform: translate3d(0px, 0px, 0);
    position: relative;
    z-index: 99;
    /*            left: 0px;*/
    /*            top: 0px;*/
}
#eyeball {
    position: relative;
    transform-style: preserve-3d;
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    top: 30px;
    border-radius: 50%;
    /*            background-color: aqua;*/
    background-image: radial-gradient(circle at 50% 40%, #fafafa, #efefef 66%, #bc5252 100%);
}
.eyeMouseOver {
    transform: scale3d(3, 3, 3);
    transition: transform .2s ease-out;
}
.eyeMouseOut {
    transform: scale3d(1, 1, 1);
    transition: transform .2s ease-out;
}
#eyeball::before {
    content: "";
    position: absolute;
    top: 5%;
    left: 10%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-image: radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8) 11%, rgba(255, 255, 255, 0) 25%);
    transform: translateX(-30px) translateY(-30px) skewX(-20deg);
}
#eyeball #shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
    transform: rotateX(80deg) translateX(-42px) translateZ(-50px);
    z-index: -1;
}
#iris {
    position: absolute;
    transform-style: preserve-3d;
    width: 34%;
    height: 34%;
    /*            margin: 30%;*/
    border-radius: 50%;
    background-image: radial-gradient(circle at 50% 50%, #218ab4 0%, #6abfff 28%, #4681b2 75%);
    transform: translateX(-17px) translateY(33px) skewX(0deg) skewY(-0deg);
}
.irisMove {
    /*            initial state */
    transform: translateX(-17px) translateY(33px) skewX(0deg) skewY(-0deg);
    /* step 1 */
    /*            transform: translateX(3px) translateY(50px) skewX(-22deg) skewY(6deg) scale(0.95);*/
    /* step 2 */
    /*            transform: translateX(-33px) translateY(50px) skewX(19deg) skewY(-6deg) scale(1.05);*/
    /* step 3 */
    /*            transform: translateX(3px) translateY(50px) skewX(-20deg) skewY(9deg) scale(0.95);*/
    /* step 4 */
    /*            transform: translateX(-33px) translateY(10px) skewX(-20deg) skewY(6deg);*/
    /* step 5 */
    /*            transform: translateX(3px) translateY(10px) skewX(9deg) skewY(0deg);*/
    animation: move-eye 12s ease-out 2s infinite;
}
.eyeMouseOver #iris {
    /*          iris position on MouseOver */
    transform: translateX(-17px) translateY(33px) skewX(0deg) skewY(-0deg);
}
.eyeMouseOut #iris {
    /*          default iris position on MouseOut */
    transform: translateX(-17px) translateY(33px) skewX(0deg) skewY(-0deg);
}
@keyframes move-eye {
    0%,
    5% {
        transform: translateX(-17px) translateY(33px) skewX(0deg) skewY(-0deg);
    }
    7%,
    18% {
        transform: translateX(3px) translateY(10px) skewX(9deg) skewY(0deg);
    }
    20%,
    32% {
        transform: translateX(3px) translateY(50px) skewX(-22deg) skewY(6deg) scale(0.95);
    }
    35%,
    47% {
        transform: translateX(-33px) translateY(50px) skewX(19deg) skewY(-6deg) scale(1.05);
    }
    60%,
    70% {
        transform: translateX(3px) translateY(50px) skewX(-20deg) skewY(9deg) scale(0.95);
    }
    73%,
    83% {
        transform: translateX(-33px) translateY(10px) skewX(-20deg) skewY(6deg);
    }
    90%,
    95% {
        transform: translateX(3px) translateY(10px) skewX(9deg) skewY(0deg);
    }
    98%,
    100% {
        transform: translateX(-17px) translateY(33px) skewX(0deg) skewY(-0deg);
    }
}
#iris::before {
    content: "";
    position: absolute;
    display: block;
    width: 36%;
    height: 36%;
    background-color: black;
    border-radius: 50%;
    top: 32%;
    left: 34%;
}
#iris::after {
    content: "";
    position: absolute;
    display: block;
    width: 30%;
    height: 30%;
    border-radius: 50%;
    background: rgba(244, 244, 244, 0.25);
    top: 14%;
    left: 26%;
}
#infinity {
    position: relative;
    width: 500px;
    height: 250px;
    margin: 40px auto 20px;
    transform: rotate3d(1, 0, 0, 60deg);
}
#infinity::before {
    content: "";
    position: absolute;
    width: 150px;
    height: 150px;
    border: 40px solid blueviolet;
    border-radius: 50% 0% 50% 50%;
    transform: rotate(45deg);
    top: 0;
    left: 0;
    box-shadow: inset 0 0 25px #000;
}
#infinity::after {
    content: "";
    position: absolute;
    width: 150px;
    height: 150px;
    border: 40px solid blueviolet;
    border-radius: 50% 50% 50% 0%;
    transform: rotate(45deg);
    top: 0;
    right: 0;
    box-shadow: inset 0 0 25px #000;
}

/* infinity eye END */


/* HTML editing in place */
#edit {
    width: 78%;
    margin: 30px auto;
    font-size: 22px;
/*    color: blueviolet;*/
}

/* HTML editing in place END */

hr {
    width: 50%;
    margin: 20px auto;
}







